[package]
name = "any-store"
version = "0.1.0"
edition = "2024"

[dependencies]

[lib]
crate-type = ["cdylib"]

[profile.release]
strip = true
panic = "abort"
opt-level = "z"
lto = true
codegen-units = 1